COMPOSE_PROJECT_NAME=mejram
# Ensure the MSSQL_SA_PASSWORD is complex and follows the password policy defined at
# https://docs.microsoft.com/en-us/sql/relational-databases/security/password-policy?view=sql-server-ver15

MSSQL_SA_PASSWORD=SET_A_PASSWORD_HERE_123

POSTGRES_PASSWORD=SET_A_PASSWORD_HERE_123

DOCKER_PG_CONN="Host=pg;Database=sakila;Username=postgres;Password=${POSTGRES_PASSWORD};Port=5432;"
LOCAL_PG_CONN="Host=localhost;Database=sakila;Username=postgres;Password=${POSTGRES_PASSWORD};Port=5434;"

DOCKER_MSSQL_CONN="Server=mssql,1433;Database=sakila;User Id=sa;Password=${MSSQL_SA_PASSWORD}"
LOCAL_MSSQL_CONN="Server=localhost,5433;Database=sakila;User Id=sa;Password=${MSSQL_SA_PASSWORD}"

