<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="dot_exe" value="C:\PROGRA~1\Graphviz2.26.3\bin\dot.exe" />
    <add key="neato_exe" value="C:\Program Files\Graphviz2.26.3\bin\neato.exe" />
    <add key="temp" value="C:\temp\" />
  </appSettings>
  <connectionStrings>
    <add name="database" connectionString="server=(local)\Db;Integrated Security=SSPI;database=NPSE_productcatalog;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>